<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../temp/header') %>
  <title>抽個大獎</title>
</head>
<body>
  <%- include ('../temp/navbar') %>
  <div class="login-main"></div>
    <div class="login-wrapper">
      <h2>Login</h2>
      <form action="/login" method="POST">
        <div class="input__wrapper">
          <div class="input__label">USERNAME</div>
          <input  type="text" name="username"/>
        </div>

        <div class="input__wrapper">
          <div class="input__label">PASSWORD</div>
          <input  type="password" name="password"/>
        </div>
        <% if(errMessage && errMessage.length > 0) { %>
          <span class="error">
            <%= errMessage %>
          </span>
        <% } %>
        <input type="submit" value="登入">
      </form>
    </div>
  </div>
</body>
</html>